@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

@font-face {
  font-family: 'Disket-Mono-Regular';
  src: url(./assets/fonts/Disket-Mono-Regular.ttf);
}

* {
  font-family: 'Disket-Mono-Regular', 'Odibee Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  background-image: url(./assets/images/bg-2.jpg);
  background-position: center;
  background-size: cover;
}
.App-header {
  background-color: transparent !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#terminal {
  /* background-color: black;
  border: 5px solid #333;
  text-align: left; */
  max-width: 800px;
  /* height: 600px; */
  font-size: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.terminal-content {
  padding: 5px 15px;
}

#options ul {
  list-style: none;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 100px;
  margin: 0 auto;
}

#options ul li {
  background-color: #002d6e;
  border: 3px solid #dddddd;
  margin: 4px 0;
}
#options ul li * {
  font-family: 'Odibee Sans', 'Disket-Mono-Regular';
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  width: 100%;
}

.step-question {
  padding-top: 30px;
}

.option-answer {
  border: none !important;
  background-color: transparent !important;
}
.wrong-answer {
  border: none !important;
  background-color: transparent !important;
}
.wrong-answer button {
  color: rgb(134, 134, 134) !important;
  text-decoration: line-through !important;
  cursor: auto !important;
}

.swal2-popup {
  background-color: #002d6e !important;
}
.swal2-popup #swal2-content {
  font-size: 20px !important;
  color: rgb(226, 226, 226) !important;
}
.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #2d337f !important;
}

@media screen and (max-width: 480px) {
  #terminal {
    max-width: 300px;
    font-size: 22px;
  }
  #options ul li * {
    font-size: 24px;
  }
}